extends layout

block content
  .navbar.navbar-default(role="navigation")
    .container-fluid
      .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
          a.navbar-brand(href="/") Picture talk
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          each navpage in naventries
            if navpage.active
              li.active
                a(href="/page/" + navpage.id)= navpage.name
            else
              li
                a(href="/page/" + navpage.id)= navpage.name

  .container
    .row
      each image in page.images
        .col-md-2.col-sm-3.col-xs-4
          if image.page
            a(href="/page/" + image.page)
              .thumbnail
                img.img-responsive(src="/img/" + page.id + "/" + image.img, alt= image.text)
                p(style="text-align:center;")= image.text
          else
            .thumbnail
              img.img-responsive(src="/img/" + page.id + "/" + image.img, alt= image.text)
              p(style="text-align:center;")= image.text

    
    form.form-inline(name="uploadForm",
                     action="/api/photo",
                     method="post",
                     enctype="multipart/form-data")
      div.control-group
        label(for="name") Name
        input.form-control(type="text", id="name", name="name")
      div.control-group
        label(for="file") File
        input(type="file", name="userPhoto" id="userPhoto")
      input.btn.btn-default(type="submit", value="Upload Image" name="submit")
